.hero{
    background:#272727;
    padding-bottom:32px;
}
.main {
    font-family: 'Cormorant';
    font-weight:200;
    width: 100%;
    padding-left:10%;
    padding-right:10%;
    height:calc(100vh - 75px);
    margin-top:75px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainLeft {
    width:50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight:200;
    color:white;
    padding-bottom:5%;
}

.mainRight{
    width:50%;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom:5%;
}
.profileSection{
    display: flex;
    justify-content: flex-end;
    gap:12px;
}

.authorPic{
    width: 50%;
    height:50%;
}
.authorPic img{
    background-size: cover;
    width: 100%;
    height: 100%;
}
.rightProfile,.leftProfile{
    margin-top:12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:16px;
}

.mainLeft p:nth-child(1),
.mainLeft p:nth-child(2){
    margin-bottom:8px;
    font-size:25px;
}

.mainLeft p:nth-child(1){
    margin-bottom:8px;
}
.mainLeft p:nth-child(2){
    margin-bottom:8px;

}
.mainLeft p:nth-child(3){
    font-size:16px;
    margin-bottom: 24px;

}
/* 
.Typer{
    font-size:2rem;
} */
.Links{
    display: flex;
    gap:24px;
}
.resumeBtn{
    align-self: unset;
    font-family: "Arimo";
    text-transform: capitalize;
    font-weight: 200;
    font-size:16px;
    margin-left:0px;
}


.arrow {
    transform: rotate(40deg);
}

@media (max-width: 1000px) {
  
    .main {
        padding-left:10%;
        padding-right:10%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mainLeft p:nth-child(1),
    .mainLeft p:nth-child(2){
        margin-bottom:8px;
        font-size:20px;
    }
    
    .resumeBtn{
        align-self: unset;
        font-family: "Arimo";
        text-transform: capitalize;
        font-weight: 200;
        font-size:12px;
    }
    .profileIcons{
        margin-top:8px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap:12px;
    }
  }

  
@media (max-width: 700px) {
  
    .main {
        color: white;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .mainLeft{
        width: 100%;
        height: 50%;
        padding-bottom: 3%;
    }
    
    .mainRight{
        width:100%;
        height: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-bottom:0%;
    }
    .profileSection{
        justify-content: center;
        gap:12px;
    }

    .authorPic{
        width: 50%;
        height:50%;
    }
    .authorPic img{
        width: 100%;
        height: 100%;
    }
    .rightProfile,.leftProfile{
        margin-top:0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:16px;
    }
    .mainLeft p:nth-child(1),
    .mainLeft p:nth-child(2){
        margin-bottom:8px;
        font-size:20px;
    }
    
    .resumeBtn{
        align-self: unset;
        font-family: "Arimo";
        text-transform: capitalize;
        font-weight: 200;
        font-size:14px;
    }
    
  }

@media (max-width: 550px) {

    .hero{
        padding-bottom:48px;
    }

    .mainLeft p:nth-child(1){
        margin-bottom:8px;
        font-size:18px;
    }

    .mainLeft p:nth-child(2){
        margin-bottom:8px;
        font-size:16px;
    }
      
    .resumeBtn{
        font-size:12px;
    }
    
    .mainLeft{
        width: 100%;
        height: 60%;
        padding-bottom: 0%;
        justify-content: center;
    }
    
    .mainRight{
        width:100%;
        height: 40%;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding-bottom:0%;
    }
    .profileSection{
        justify-content: center;
        gap:12px;
    }

    .authorPic{
        width: 50%;
        height:50%;
    }
    .authorPic img{
        width: 100%;
        height: 100%;
    }
    .rightProfile,.leftProfile{
        margin-top:0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:16px;
    }
}

@media (max-width: 300px) {
    .mainLeft{
        width: 100%;
        height: 70%;
    }
    .mainRight{
        height: 30%;
    }
}