.hero{
    background:#272727;
    padding-bottom:32px;
}
.main {
    font-family: 'Cormorant';
    font-weight:200;
    width: 100%;
    padding-left:10%;
    padding-right:10%;
    /* background-color: #111827; */
    height: 100vh;
    height:calc(100vh - 75px);

    color: white;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
}

.mainLeft {
    width:50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-weight:200;
    /* padding-bottom:5%; */
    /* color:#141C3A; */
    color:white;
}
.mainLeft p:nth-child(1),
.mainLeft p:nth-child(2){
    margin-bottom:8px;
    font-size:25px;
}

.mainLeft p:nth-child(1){
    margin-bottom:8px;
}
.mainLeft p:nth-child(2){
    margin-bottom:8px;

}
.mainLeft p:nth-child(3){
    font-size:16px;
    margin-bottom: 24px;

}


.mainRight{
    width:50%;
    /* padding-bottom:5%; */
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.mainRight img{
    width: 100%;
    height: auto;
    background-size: cover;
}
.Typer{
    font-size:2rem;
}
.Links{
    display: flex;
    gap:24px;
}
.resumeBtn{
    align-self: unset;
    font-family: "Arimo";
    text-transform: capitalize;
    font-weight: 200;
    font-size:16px;
    margin-left:0px;
}


.arrow {
    transform: rotate(40deg);
}


@media (max-width: 1000px) {
  
    .main {
        padding-left:10%;
        padding-right:10%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .mainLeft p:nth-child(1),
    .mainLeft p:nth-child(2){
        margin-bottom:8px;
        font-size:20px;
    }
    
    .resumeBtn{
        align-self: unset;
        font-family: "Arimo";
        text-transform: capitalize;
        font-weight: 200;
        font-size:12px;
    }
    
  }

  
@media (max-width: 700px) {
  
    .main {
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .mainLeft{
        width: 70%;
    }
    
    .mainLeft p:nth-child(1),
    .mainLeft p:nth-child(2){
        margin-bottom:8px;
        font-size:16px;
    }
    
    .resumeBtn{
        align-self: unset;
        font-family: "Arimo";
        text-transform: capitalize;
        font-weight: 200;
        font-size:12px;
    }
    
  }