.main {
    font-family: "popins";
    font-weight:300;
    width: 100%;
    padding-left:10%;
    padding-right:10%;
    /* background-color: #111827; */
    height: 100vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#272727;
}

.mainLeft {
    width:50%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size:1rem;
    font-weight:400;
    /* color:#141C3A; */
    color:white;
}
.mainLeft p:nth-child(1){
    margin-bottom:8px;
    font-size:32px;
}
.mainLeft p:nth-child(2){
    font-size:16px;
    margin-bottom: 24px;
}

.mainRight{
    width:50%;
    height: inherit;
    display: flex;
    align-items: center;
}
.mainRight img{
    width: 100%;
    height: auto;
    background-size: cover;
}
.Typer{
    font-size:2rem;

}