
.Project{
    padding-top:5%;
    padding-bottom:5%;
    padding-left:10%;
    padding-right:10%;
    background-color: #272727;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'popins';
    font-weight: 250;
}

@media only screen and (max-width: 700px) {
    .Project{padding-bottom:32px;}
}

