.main{
    display: flex;
    flex-direction: column;
    background-color: #272727;
    align-items: center;
    padding-top: 5%;
    padding-bottom:5%;

}
.Heading{
    margin-bottom:16px;
}
.Heading,.subHeading{
    font-family: "Arimo";
    color:white;
}
.subHeading{
    font-weight: 400;
}

.Carousal{
    width: calc(50vw);
    padding:50px;
}

@media only screen and (max-width: 1000px) {

    .main{
        align-items: center;
        padding-top: 3%;
        padding-bottom:3%;
    
    }
    .Heading{
        margin-bottom:16px;
        font-size:24px;
    }
    .subHeading{
        font-weight: 400;
        font-size:16px;

    }
    
    .Carousal{
        width: calc(80vw);
        padding:30px;
    }
}