.Label {
    border: 1px solid #FFFFFF;
    border-radius: 28px;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: "Arimo";
    text-transform: capitalize;
    font-weight: lighter;
}

.link {
    display: flex;
    align-items: center;
    align-self: flex-start;
    text-transform: uppercase;
    font-size: 14px;
}

.link span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 4px;
}

.link span:nth-child(1) {
    font-family: "Arimo";
}

.arrow {
    transform: rotate(40deg);
}

.Card {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.image {
    width: 100%;
    position: relative;

}

.image img {
    width: 100%;
}

.desc {
    display: flex;
    justify-content: space-between;
    color: white;
    padding-top: 12px;
}

.text h4 {
    font-family: "Arimo";
    color: white;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
}

.text p {
    font-family: "Cormorant";
}

.CardHover{
    position: absolute;
    top:0;
    left:0;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left:12px;
}

.CardHoverText{
    color:white;
    opacity: 1 !important;
}

.CardHover:hover{
    opacity: 0.7;
    transition: all 0.2s;
    user-select: none;
}


@media only screen and (max-width: 1100px) {
    
    
    .link {
        display: flex;
        align-items: center;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .link span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4px;
    }

    .Card {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    
    .image {
        width: 100%;
    }
    
    .image img {
        width: 100%;
    }
    
    .desc {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
    }
    
    .text h4 {
        font-weight: 400;
        font-size: 18px;
    }
    
}

@media only screen and (max-width: 1000px) {
    
    
    .link {
        display: flex;
        align-items: center;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .link span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4px;
    }

    .Card {
        display: flex;
        flex-direction: column;
        width: 45%;
    }
    
    .image {
        width: 100%;
    }
    
    .image img {
        width: 100%;
    }
    
    .desc {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
    }
    
    .text h4 {
        font-weight: 400;
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 700px) {
    
    
    .link {
        display: flex;
        align-items: center;
        align-self: flex-start;
        text-transform: uppercase;
        font-size: 14px;
    }
    
    .link span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 4px;
    }

    .Card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .image {
        width: 100%;
    }
    
    .image img {
        width: 100%;
    }
    
    .desc {
        display: flex;
        justify-content: space-between;
        padding-top: 12px;
    }
    
    .text h4 {
        font-weight: 400;
        font-size: 16px;
    }
    
}