.main{
    padding-left:10%;
    padding-right:10%;
    padding-bottom:5%;
    background-color: #272727;

}
.heading{
    padding-top:32px;
    /* padding-bottom:0px; */
    font-size: 32px;
    font-family:'Arimo';
    color:white;
}
.headingText{
    font-family: "Cormorant";
    color:white;
    font-size: 21px;
    font-weight:300;
    padding-bottom:12px;
}
.stacks{
    color:white;
    font-weight: 400;
    font-family: "arimo";
    font-size:16px;
}

.logoSection{
    
    margin-top:40px;
}

.logoImages{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin-top:12px;
}

.logoImages img{
    width:80px;
    height:80px;
    background-size: cover;
}


@media only screen and (max-width: 700px) {

    .main{
        padding-left:10%;
        padding-right:10%;
    
    }
    .heading{
        padding-top:30px;
        font-size: 24px;
    }
    .headingText{
        font-size: 16px;
        font-weight:300;
        padding-bottom:12px;
    }
    .stacks{
        font-weight: 400;
        font-size:14px;
    }
    
    .logoSection{
        margin-top:30px;
    }
    
    .logoImages{
        display: flex;
        gap: 24px;
        margin-top:12px;
    }
    
    .logoImages img{
        width:60px;
        height:60px;
    }
    
}