
.CarousalSlide{
    text-align: center;
    font-family: "Arimo";
}
.imageIcon{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.imageIcon img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.textCarousal{
    margin-top:12px;
    color: white;
    font-family: "Cormorant";
    font-size:16px;
}
.tags{
    padding-bottom: 20px;
    padding-top:10px;
}
.name,.subName{
    color:white;
    font-weight: 600;
}
.subName{
    font-family: "Arimo";
    font-weight:400;
}