
.CarousalSlide{
    text-align: center;
    font-family: "Arimo";
}
.imageIcon{
    display: flex;
    justify-content: center;
    margin-bottom: 24px;
}
.imageIcon img{
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.textCarousal{
    margin-top:12px;
    color: white;
    font-family: "Cormorant";
    font-size:22px;
}
.tags{
    padding-bottom: 20px;
    padding-top:10px;
}
.name,.subName{
    color:white;
    font-weight: 600;
}
.subName{
    font-family: "Arimo";
    font-weight:400;
}


@media only screen and (max-width: 1000px) {

    .imageIcon{
        margin-bottom: 24px;
    }
    .imageIcon img{
        width: 80px;
        height: 80px;
    }
    
    .textCarousal{
        margin-top:12px;
        font-size:18px;
    }
    .tags{
        padding-bottom: 20px;
        padding-top:8px;
    }
    .name,.subName{
        font-weight: 600;
    }
    .subName{
        font-family: "Arimo";
        font-weight:400;
    }
    
    
}

@media only screen and (max-width: 600px) {
    .textCarousal{
        font-size:16px;
    }
}

@media only screen and (max-width:450px) {
    .textCarousal{
        font-size:14px;
    }
}