.footer {
  /* background-color: rgb(8, 98, 172); */
  background-color: #272727;
  height: 100vh;
  /* padding-top:2%; */
  /* padding-bottom:2%; */
}

.footerSection {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-size: 32px;
  color: white;
  padding-bottom: 12px;
  font-family: "Arimo";
}

.Links {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.name {
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-top:1px solid white;
  /* background-color: orange; */
  font-family: "Arimo";
  font-size: 16px;
}

.mailBtn{
    padding-top:5%;
}



@media only screen and (max-width: 700px) {
    .footer {
        background-color: #272727;
      }
      
      .footerSection {
        height: 90%;
      }
      .heading {
        font-size: 24px;
        padding-bottom: 12px;
        font-family: "Arimo";
      }
      
      .Links {
        gap: 12px;
      }
      
      .name {
        height: 10%;
        font-size: 16px;
      }
      
      .mailBtn{
          padding-top:10%;
      }
      
}


@media only screen and (max-width: 500px) {
    
      .footerSection {
        height: 90%;
      }
      .heading {
        font-size: 16px;
        padding-bottom: 12px;
      }
      
      .Links {
        gap: 12px;
      }
      
      .name {
        height: 10%;
        font-size: 12px;
      }
      
      .mailBtn{
          padding-top:10%;
      }
      
}